<main id="main">
<section id="about" class="about">
      <div class="container">

        <div class="section-title" >
          <h2>About</h2>
          <p>Mi nombre es <strong>Libio Armando Quispe Hancco</strong> y soy estudiante de <strong>Ingenieria Informatica y de Sistemas</strong> de la <strong>Universidad Nacional de San Antonio Abad del Cusco</strong>,
            soy un chico alegre cuando hay que serlo y con quien creo que hay que serlo, me encanta la programaciòn, el futbol y entre otros deportes, me gustan los retos.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="public/img/profile.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Database administrator &amp; Web Developer</h3>
            <p class="font-italic">
              Los Administradores de Bases de Datos somos responsables del manejo, mantenimiento,
              desempeño y de la confiabilidad de bases de datos. Asimismo, estámos a cargo de la mejora y
              diseño de nuevos modelos de las mismas. y asi mismo como desarrollador web nos dedicamos de forma específica, en
              desarrollar aplicaciones de la World Wide Web o aplicaciones distribuidas en red que se ejecutan
              mediante HTTP desde un servidor web a un navegador web.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 30 enero 1994</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.Libio.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +051 929 801 754</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Cusco, Perù</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age: </strong> <label id="edad"></label></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Medium</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> 134541@unsaac.edu.pe</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
</main>