<main id="main">
<!-- ======= Facts Section ======= -->
<section id="facts" class="facts bg-dark-2">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
        <p>Como desarrollador web, nos ocupamos de programar todas las acciones que se llevan a cabo en una página web, como las búsquedas o filtros. También, nos encargamos de crear la base de datos y de dar soporte técnico a todo lo que el diseñador ha ideado.</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">232</span>
            <p><strong>Clientes felices</strong> de Pale Consultores</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span data-toggle="counter-up">15</span>
            <p><strong>Proyectos</strong> trabajados</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span data-toggle="counter-up">1,463</span>
            <p><strong>Horas de soporte</strong> al cliente</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span data-toggle="counter-up">15</span>
            <p><strong>Trabajadores</strong> en equipo</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->
</main>