<main id="main">
 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>Conectar entornos web con entornos de escritorio, tiendas virtuales con Sistemas de Información Empresariales, migración de sistemas propietarios a sistemas basados en software libre, etc. Conectamos tecnologías para ponerlas al servicio del usuario</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="icofont-computer"></i></div>
          <h4 class="title"><a href="">Desing + Development</a></h4>
          <p class="description"> Diseños limpios y modernos: optimizados para el rendimiento, los motores de busqueda y la conversion de usuarios en clientes.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
          <h4 class="title"><a href="">Ecommerce</a></h4>
          <p class="description">Integración de plataformas de comercio electrónico, pasarelas de pago plantillas de productos personalizados y más.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="icofont-earth"></i></div>
          <h4 class="title"><a href="">Redes y Telecomunicacines</a></h4>
          <p class="description">Obtenga información sobre quièn está navegando en su sitio para que pueda tomar desiciones comerciales más inteligentes.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="icofont-image"></i></div>
          <h4 class="title"><a href="">Analytic</a></h4>
          <p class="description"> ¿Busca mejorar el rendimiento de su página, el SEO o la experiencia del usuario? Solicite una auditoria de sitio gratuita.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="icofont-settings"></i></div>
          <h4 class="title"><a href="">Website Audits</a></h4>
          <p class="description">Desarrollo de plugins y temas personalizados de WordPress. Actualice facilmente el contenido sin saber codificar.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="icofont-tasks-alt"></i></div>
          <h4 class="title"><a href="">Soporte a usuarios</a></h4>
          <p class="description">Capacidad de dar soporte y resolver problemas operativos y técnicos a los usuarios de los sistemas de información.</p>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->
</main>