<main id="main">
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Mi formacion academica y Experiencia Professional</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Libio Armando</h4>
            <p><strong> <em>Ingeniero de Sistemas, experto en “Desarrollo Web”, con más de 3 años de experiencia desarrollando sistemas en diversos entornos de desarrollo.</em></strong></p>
            <ul>
              <li>Cusco, Perù</li>
              <li>(051) 929 801 754</li>
              <li>134541@unsaac.edu.pe</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Idioma Portugues</h4>
            <h5>2020</h5>
            <p><strong><em>Centro de idiomas, Universidad Nacional de San Antonio Abad del Cusco , Perù</em></strong></p>
            
          </div>
          <div class="resume-item">
            <h4>Ofimatica</h4>
            <h5>2020</h5>
            <p><strong><em>Instituto de Sistemas, Universidad Nacional de San Antonio Abad del Cusco , Perù</em></strong></p>
          </div>
          <div class="resume-item">
            <h4>Ing. Ingenieria Informatica y de Sistemas</h4>
            <h5>2013 - 2018</h5>
            <p><strong><em>Universidad Nacional de San Antonio Abad del Cusco, Perù</em></strong></p>
          </div>
          <div class="resume-item">
            <h4>Educacion Secundaria</h4>
            <h5>2005 - 2010</h5>
            <p><strong><em>Colegio Almirante Miguel Grau, Checacupe, Canchis, Cusco</em></strong></p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Administrador de Base de Datos</h4>
            <h5>2020 - Present</h5>
            <p><strong><em>Pale Consultores, Cusco, Perù </em></strong></p>
            <ul>
              <li>
                Monitoreo del desempeño de la base de datos para garantizar que esté manejando los parámetros adecuadamente y que le brinde respuestas rápidas a los usuarios.
              </li>
              <li>
                  Otorgarmiento de permisos y privilegios a los usuarios.
              </li>
              <li>
                  Planificacion y conservacion de un sistema de respaldo.
              </li>
              <li>
                  Trabajo en conjunto con los Gerentes de Proyecto de TI y los Programadores de Bases de Datos y Multimedia.
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Desarrollador Front End</h4>
            <h5>2019 - 2020</h5>
            <p><strong><em>Universidad Nacional San Antonio Abad del Cusco - Unidad de Centro de Computo, Cusco, Perù</em></strong></p>
            <ul>
              <li>
                Desarrollo e implementación de sitios web.
              </li>
              <li>
                  Gestioné hasta 3 proyectos o tareas en un momento dado bajo presión.
              </li>
              <li>
                  Pruebas de stress web para el deploy al proyecto trabajado.
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Help Desk</h4>
            <h5>2019 - 2020</h5>
            <p><strong><em>Pale Consultores, Cusco, Perù</em></strong></p>
            <ul>
              <li>
                Brindar soluciones a nivel 1 en forma remota a clientes de rubros mineros con prioridad de resolver
                              sus requerimientos dentro de los márgenes del acuerdo al nivel de servicio pactado..
              </li>
             
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
</main>